<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'pulse/style.css' %}">
  <title>Organizations</title>
</head>
<body class="page">
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<h1 class="page-title">List of organizations</h1>
<div class="container">
  {% include 'forms/base_form.html' with form=organization_form %}
  <br/>
  <div class="panel">
    {% if organization_list %}
      <ul class="list">
        {% for organization in organization_list %}
          <li>

            <a href="{% url 'pulse:organization' organization.id %}">{{ organization.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No organizations exist yet</p>
    {% endif %}
  </div>
</div>
</body>
</html>
