<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'pulse/style.css' %}">
    <title>Organizations</title>
</head>
<body class="page">
    <h1 class="page-title">List of organizations</h1>
    <div class="container">
        <div class="panel">
            {% if list_organizations %}
                <ul class="list">
                    {% for org in list_organizations %}
                        <li>
                            <a href="{% url 'pulse:organization' org.id %}">{{ org.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Haven't existed any organizations yet</p>
            {% endif %}
        </div>
    </div>
</body>
</html>