<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pulse/style.css' %}">
</head>
<body>
<script>
    function CollapsHiden(){
        const form = document.getElementById('workitem-create-form');
        const expanded = form.hidden;
        form.hidden = !expanded;
    }
</script>
<button onclick='{history.back()}'>Go back</button>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if workspace_data %}

    <h1>Workspace: {{ workspace_data.name }}</h1>

    <button type="button" class="create-form-toggle"
            onclick="CollapsHiden()">
        Create work item
    </button>
    {% include 'forms/base_form.html' with form=workitem_form form_id='workitem-create-form' collapsed=True %}

    {% if workitem_list %}
        <ul>
            {% for workitem in workitem_list %}
                <li>

                    <a href="{% url 'workitem' workitem_id=workitem.id workspace_id=workitem.workspace_id organization_id=workitem.workspace.organization_id %}">
                        Id: {{ workitem.id }} - {{ workspace_data.space_code }}, Title: {{ workitem.title }}, Last Update: {{ workitem.last_update }}
                    </a>
                </li>
                <form  method="post" action="{% url 'workitem_delete' workitem_id=workitem.id workspace_id=workitem.workspace_id organization_id=workitem.workspace.organization_id %}">
                    {% csrf_token %}
                    <button type="submit">X</button>
                </form>
            {% endfor %}
        </ul>
    {% endif %}
    {% else %}
        <p>Workspace doesn't have any items</p>
{% endif %}
</body>
</html>
